.icon {
    width: 70px;
}
.big-image {
    width: 250px;
}
h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  body {
    text-align: center;
    font-family: 'Arial';
    background: pink;
    color: rgb(44, 20, 10);
}