.icon {
    width: 70px;
}
.big-image {
    width: 250px;
}
h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}  
h2 {
    font-family:serif;
}
body {
    text-align: center;
    font-family: 'Arial';
    background: pink;
    color: rgb(44, 20, 10);
}